@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 900px;
  }
}

@media (min-width: 1292px) {
	.masthead,
	.mastfoot,
	.cover-container {
		width: 1200px;
	}
}

.masthead,
.mastfoot {
  position: absolute;
}

.cover-container {
  background-image: ;
}