/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* 
 * Add to cover-wrapper:
 *    -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
              box-shadow: inset 0 0 100px rgba(0,0,0,.5);
 */

/* Expand the cover's container so that we 
 * have two containers with the same size.
 */

.wrapper {
  width: 100%;
  background-image: url('img/content-background.png');
}

.cover-wrapper {
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  overflow: hidden;
}

.cover-wrapper.splash {
  background-size: 100% auto;
  background-size: cover;
  background-position: center;
}

.cover {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  display: table;
  width: inherit;
  height: inherit;
  padding: 30px; /* in case table/table-cell fails */
}

.cover.overlay {
  background-image: url('img/Cover/overlay.png');
  background-size: 100%;
}

.cover > .container {
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
}

.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

/*
 * Navigation
 */

.sticky, .non-sticky {
  z-index: 200;
  min-height: 80px;
  width: 100%;
  top: 0;
  left: 0;
}

.sticky {
  position: fixed;
  background-color: #333;
  background-color: rgba(0, 0, 0, 0.75);
}

.non-sticky {
  position: absolute;
}

.cover-nav {
  float: right;
}

.cover-nav > li {
  display: inline-block;
}
.cover-nav > li + li {
  margin-left: 40px;
}

.cover-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
  margin-top: 15px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar-inverse .cover-nav > li > a {
  color: #fff;
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}

.navbar-inverse .cover-nav > li > a:hover,
.navbar-inverse .cover-nav > li > a:focus {
  background-color: transparent;
  color: white;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}

.navbar-inverse .cover-nav > .active > a,
.navbar-inverse .cover-nav > .active > a:hover,
.navbar-inverse .cover-nav > .active > a:focus {
  color: white;
  border-bottom-color: #fff;
}

/*
 * Subnavigation
 * 
 * NOTES: 
 *  In mock-ups, the full width is ~1172px and each section of
 *  the sub-nav (3 sections) take up ~295px, together centered.
 *
 *  That makes roughly 1/4 of the viewport is each section. The
 *  mockup is for the large viewport, so we'll see how 1/3 looks
 *  on medium. On Small and XSmall, we have can use sidr/sub-ul.
 *
 */

.row-centered {
  text-align: center;
}

.col-centered {
  display: inline-block;
  float: none;
}

.sub-nav .col-centered + .col-centered {
  border-left: 1px solid white;
}

.sub-nav ul {
  list-style-type: none;
  padding-left: 0;
  padding-right: 0;
}

/* takes up entire viewport; a section */

.sub-nav-section {
  background-color: #50E3C2;
  background-color: rgba(80,227,194, 0.60);
  background-color: #888888;
  background-color: rgba(255, 255, 255, 0.50);
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
}

/* each sub-nav-section has one, maybe more, rows */

.sub-nav-section ul li {
  margin: 10px 0;
}

.sub-nav-section ul li a, .sub-nav-section ul li a:hover {
  color: white;
}

.sub-nav-section ul li a:hover {
  text-decoration: underline;
}

/*
 * Assets
 */
.brand span,
.heading span {
  /* Hide Text */
  display: none;
}
 
.brand {  
  margin-top: 12px;
  background: url('img/BPW_Logo@2x.png') no-repeat;
  background-size: 100px 56px;
  width: 100px;
  height: 56px;
}

.heading {
  background: url('img/Cover/cover-logo.png') center no-repeat;
  background-size: 100% auto;
  background-size: contain;
  min-height: 100px;
}

@media (max-width: 992px) {
  .brand {
    display: none;
  }
}

@media (min-width: 1292px) {
  .heading {
    background-size: inherit;
  }
}