/* 
 * Add:
 *    -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
              box-shadow: inset 0 0 100px rgba(0,0,0,.5);
 */

/* Expand the cover's container so that we 
 * have two containers with the same size.
 */
.cover-wrapper {
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  background-color: green;
}

.cover {
  display: table;
  width: inherit;
  height: inherit;
  background-image: url('img/Cover/overlay.png');
}

.cover > .container {
  display: table-cell;
  vertical-align: middle;
}

/* Move navigation out of containers flow of content
 * to correctly center the inner cover.
 */

.non-sticky {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.non-sticky > .row {
  display: block;
  margin: 0 auto;
}

/*
 * Positioning
 */

.cover-heading,
.lead {
  margin: 0 auto;
}

.navbar-nav {
  float: right;
}

.navbar-brand { 
  float: left;
}

/*
 * Navigation
 */

nav {
  padding: 10px 0;
  float: right;
}

.cover-nav > li {
  display: inline-block;
}
.cover-nav > li + li {
  margin-left: 20px;
}
.cover-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.cover-nav > li > a:hover,
.cover-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.cover-nav > .active > a,
.cover-nav > .active > a:hover,
.cover-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

/*
 * Assets
 */
.brand span,
.heading span {
  /* Hide Text */
  display: none;
}
 
.brand {  
  background: url('img/Cover/nav-logo.png') no-repeat;
  height: 27px;
  width: 308px;
}

.heading {
  background: url('img/Cover/cover-logo.png') top center no-repeat;
  background-size: 100%;
  height: 75px;
}

@media (min-width: 1200px) {
  .heading {
    background-size: inherit;
  }
}