/*
 * Positioning
 */
.masthead,
.mastfoot {
  position: absolute;
}

.cover-heading,
.lead {
  margin: 0 auto;
}

/*
 * Assets
 */
.masthead-brand span,
.cover-heading span {
  /* Hide Text */
  display: none;
}
 
.masthead-brand {  
  background: url('img/Cover/nav-logo.png') top left no-repeat;
  width: 308px;
  height: 27px;
}

.cover-heading {
  background: url('img/Cover/cover-logo.png') top center no-repeat;
  width: 858px;
  height: 75px;
}

.site-wrapper {
  background-image: url('img/Cover/overlay.png');
}