body {
  font-family: "typical_writerregular", "corbertregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.col-menu {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #333;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 1.8em;
}

video#bgvid {
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  background-image: url('img/cover-background.png');
  background-size: cover;
}

@media screen and (max-device-width: 800px) {
  .cover-wrapper { background: url('img/cover-background.png') #000 no-repeat center center fixed; }
  video#bgvid { display: none; }
}

.wrapper .container {
  padding-top: 20px;
  padding-bottom: 40px;
}

.section {
  margin-bottom: 20px;
}

.container h3 {
  text-align: left;
}

/* prevents selecting brand on navigation bar */
.wrapper .container h3 {
  display: inline-block;
  margin-left: 0;
  padding: 5px 20px;
  /* Features */
  background-color: #444;
  background-color: rgba(67, 67, 67, 0.80);
}

.wrapper.artists {
  display: table;
  min-height: 125%;
}

.wrapper.artists .container {
  display: table-cell;
  vertical-align: middle;
}

.grid-heading {
  padding: 0;
  margin: 5px -15px;
}

.item {
  padding: 0;
  margin: 5px 0;
}

.item img {
  width: 98%;
  height: 98%;
}

.item-label {
  position: absolute;
  bottom: 0;
  left: 0;
  /* Features */
  width: 100%;
  padding: 10px 0;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.5);
  /* Font */
  text-align: center;
  color: white;
  font-size: 16px;
  /* Advanced */
  pointer-events: none;
}

.navbar-inverse {
  background-color: transparent;
  border: none;
}

.contact {
  background-image: url('img/Contact/Contact Form Photo.png');
  background-size: 100% auto;
  background-size: cover;
  background-position: center;
}

.contact-section {
  color: black;
  background-color: #CCC;
  background-color: rgba(255, 255, 255, 0.75);
  padding-top: 10px;
  margin-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.contact-section dl, .contact-section ul {
  text-align: left;
}

.contact-section ul {
  list-style: none;
  display: inline-block;
  margin: 0 auto;
  padding: 0;
  min-height: 50px;
}

.contact-section ul li {
  display: block;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  float: left;
  text-shadow: none;
  color: #333;
}

.contact-section ul li:hover {
  color: #777;
}

.contact-logo {
  margin-bottom: 20px;
}

.contact-form {
  text-align: left;
  padding: 30px 0;
}

.contact-form label {
  color: black;
}

.contact-form input, .contact-form textarea {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

a.anchor {
  position: relative;
  display: block;
  top: -80px;
  visibility: hidden;
}