body {
  font-family: "corbertregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container h3 {
  text-align: left;
}

.item {
  padding: 0;
  margin: 5px 0;
}

.item img {
  width: 98%;
  height: 98%;
}

.navbar-inverse {
  background-color: transparent;
  border: none;
}

@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }
}