body {
  font-family: "corbertregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.col-menu {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #333;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 1.8em;
}

.container h3 {
  text-align: left;
}

.item {
  padding: 0;
  margin: 5px 0;
}

.item img {
  width: 98%;
  height: 98%;
}

.navbar-inverse {
  background-color: transparent;
  border: none;
}

.cover-wrapper.contact {
  background-image: url('img/cover-background.png');
  background-size: 100% auto;
  background-size: cover;
  background-position: center;
}

.contact-section {
  color: black;
  background-color: #CCC;
  background-color: rgba(255, 255, 255, 0.75);
  padding-top: 10px;
  margin-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.contact-section dl, .contact-section ul {
  text-align: left;
}

.contact-section ul {
  list-style: none;
  display: inline-block;
  margin: 0 auto;
  padding: 0;
  min-height: 50px;
}

.contact-section ul li {
  display: block;
  margin: 20px;
  padding: 10px;
  background-color: #888;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  float: left;
}